body{
    margin: 0;
    padding: 0;
}
.wrapper {
    border: solid 1px black;
    width: 90%;
    height: 700px;
    margin: 0 auto;
}

.header {
    background-image: url("../images/banner.jpg");
    background-size: 100% 130px;
    border: solid 1px red;
    width: 100%;
    height: 130px;
    background-repeat: no-repeat;
}
.menu {
    border: solid 1px yellow;
    width: 100%;
    height: 50px;
    background-color: gray;

}
ul.list_menu{
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.list_menu li
{
    float: left;
    border: solid 1px red;
    padding: 5px;
    margin: 10px;
}
ul.list_menu li:hover
{
    background-color: blue;
    font-weight: bold;
    color: white;
}
ul.list_menu li a
{
    text-decoration: none;
    text-align: center;
    color: black;
}

#main {
    border: solid 1px green;
    width: 100%;
    height: 400px;

}

.sidebar{
    border: solid 1px yellow;
    width: 20%;
    height: 390px;
    background-color: gray;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
ul.list_sidebar{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    line-height: 27px   ;
}
ul.list_sidebar li
{
    padding: 5px;
    margin: 10px;
}
ul.list_sidebar li:hover
{
    background-color: blue;
    font-weight: bold;
    color: white;
}
ul.list_sidebar li a
{
    text-decoration: none;
    color: black;
    display: block;
}
.main_content{
    border: solid 1px red;
    width: 79%;
    height: 390px;
    background-color: gray;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
.footer {
    border: solid 1px blue;
    width: 100%;
    height: 100px;
    background-color: gray;

}